---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import SubHeroSection from "../components/SubHeroSection.astro";

import { Image } from "astro:assets";

import SaintJude1 from "../assets/saint_jude_logo.png";
import SaintJude2 from "../assets/saint_jude_catholic_logo.png";

const response = await fetch(
  "https://cms.oudsdev.com/api/content/saint-jude/saint-jude-ministies/about",
);
const data = await response.json();
const aboutPage = data.sectionsMap;

type BioItem = {
  name: string;
  title_position: string;
  description: string;
  image: string;
};

const Bio: BioItem[] = aboutPage.bio_section.content.bios;
---

<Layout>
  <SubHeroSection
    imagePath={aboutPage.heromain.content.image}
    title={aboutPage.heromain.content.title}
    body=""
  />

  <!-- text start -->
  <section class="container py-4 px-4 px-md-0">
    <h2 class="text-center subtitle-text">
      {aboutPage.our_team.content.header}
    </h2>
    <div class="py-3">
      <div set:html={aboutPage.our_team.content.text_block} />
    </div>

    <hr />

    <div class="py-4">
      <div class="d-flex gap-5 flex-column flex-md-row">
        <div class="col col-md-4 about_images">
          <Image
            src={aboutPage.bio_section.content.bios[0].image}
            alt={aboutPage.bio_section.content.bios[0].name}
            inferSize={true}
          />
          <Image src={SaintJude1} alt="Saint Jude" />
          <Image src={SaintJude2} alt="Saint Jude Catholic" />
        </div>
        <div class="about_text">
          <h3 class="supporting-text">
            {aboutPage.bio_section.content.bios[0].name}
          </h3>
          <div class="mb-3">
            <span class="stronger"
              >{aboutPage.bio_section.content.bios[0].title_position}</span
            >
          </div>
          <div set:html={aboutPage.bio_section.content.bios[0].description} />
        </div>
      </div>
    </div>

    <hr />

    <div class="py-4">
      <div class="d-flex gap-5 flex-column flex-md-row">
        <div class="col col-md-4 about_images">
          <Image
            src={aboutPage.bio_section.content.bios[1].image}
            alt={aboutPage.bio_section.content.bios[1].name}
            inferSize={true}
          />
        </div>
        <div class="about_text">
          <h3 class="supporting-text">
            {aboutPage.bio_section.content.bios[1].name}
          </h3>
          <div class="mb-3">
            <span class="stronger"
              >{aboutPage.bio_section.content.bios[1].title_position}</span
            >
          </div>
          <div set:html={aboutPage.bio_section.content.bios[1].description} />
        </div>
      </div>
    </div>

    <hr />
  </section>
</Layout>
