---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import GalleryImage from "../components/GalleryImage.astro";
import BookNextEvent from "../components/BookNextEvent.astro";

import { Image } from "astro:assets";

import HomeHero from "../assets/home_hero.jpeg";
import Gallery1 from "../assets/wedding_ceremonies.jpeg";
import Gallery2 from "../assets/baptismal_ceremonies_new.jpg";
import Gallery3 from "../assets/funeral.jpeg";
import Gallery4 from "../assets/hospital_visits.jpeg";
import Gallery5 from "../assets/premarital_counseling.jpeg";
import Gallery6 from "../assets/family_counseling.jpeg";

import WeddingService1 from "../assets/wedding_service.jpeg";
import WeddingService2 from "../assets/wedding_service_2.jpeg";
import WeddingService3 from "../assets/wedding_service_3.jpeg";
import WeddingService4 from "../assets/wedding_service_4.jpeg";

const response = await fetch(
  "https://cms.oudsdev.com/api/content/saint-jude/saint-jude-ministies/home",
);
const data = await response.json();
const homePage = data.sectionsMap;
---

<Layout>
  <HeroSection
    imagePath={homePage.heromain.content.image}
    title={homePage.heromain.content.title}
    body={homePage.heromain.content.subtitle}
  />

  <!-- text start -->
  <section class="container py-4 px-4 px-md-0">
    <h1 class="text-center title-text">
      {homePage.personalized_experience.content.header}
    </h1>
    <div set:html={homePage.personalized_experience.content.text_block} />
  </section>

  <!-- Gallery Images -->
  <section class="container-fluid lightgray-bg py-4">
    <div class="container d-flex flex-wrap gap-4">
      <GalleryImage imagePath={Gallery1} title="Wedding Ceremonies" />
      <GalleryImage imagePath={Gallery2} title="Baptismal Ceremonies" />
      <GalleryImage
        imagePath={Gallery3}
        title="Funeral or Celebration of Life"
      />
      <GalleryImage imagePath={Gallery4} title="Hospital Visits" />
      <GalleryImage imagePath={Gallery5} title="Premarital Counseling" />
      <GalleryImage imagePath={Gallery6} title="Family Counseling" />
    </div>
  </section>

  <!-- Our Wedding Services -->
  <section class="container py-4 px-4 px-md-0">
    <h1 class="text-center title-text">
      {homePage.wedding_services.content.header}
    </h1>
    <div set:html={homePage.wedding_services.content.text_block} />

    <div class="py-5 w-100 image_large">
      <Image
        src={homePage.wedding_services_image.content.image}
        alt={homePage.wedding_services_image.content.alt}
        inferSize={true}
      />
    </div>

    <h2 class="text-center subtitle-text">
      {homePage.premarital_counseling.content.header}
    </h2>
    <div set:html={homePage.premarital_counseling.content.text_block} />

    <BookNextEvent />
  </section>

  <section class="container-fluid lightgray-bg py-4">
    <div class="container">
      <div class="py-5 w-100 image_large">
        <Image src={WeddingService3} alt="Wedding Sevice" />
      </div>

      <BookNextEvent />
    </div>
  </section>

  <section class="container py-4 px-4 px-md-0">
    <div class="py-5 w-100 image_large">
      <Image src={WeddingService2} alt="Customized Ceremony" />
    </div>

    <h2 class="text-center subtitle-text">
      {homePage.customized_ceremony.content.header}
    </h2>
    <div set:html={homePage.customized_ceremony.content.text_block} />

    <div class="py-5 w-100 image_large">
      <Image src={WeddingService4} alt="Customized Ceremony" />
    </div>

    <BookNextEvent />
  </section>
</Layout>
