---
import { Image } from "astro:assets";

import Award1 from "../assets/award_1.jpeg";
import Award2 from "../assets/award_2.png";
import Award3 from "../assets/award_3.png";
import LogoPanel from "../assets/logo_panel.png";

import facebook from "../assets/facebook.png";
import weddingwire from "../assets/weddingwire.png";
import theknot from "../assets/theknot.png";
import spotify from "../assets/spotify.png";
---

<div class="container my-4 col-8 m-auto">
    <div class="d-flex justify-content-around py-4">
        <div class="col-2 award_logos">
            <Image src={Award1} alt="Best of Weddings" />
        </div>
        <div class="col-2 award_logos">
            <Image src={Award2} alt="Couples choise awards" />
        </div>
        <div class="col-2 award_logos">
            <Image src={Award3} alt="Best of weddings" />
        </div>
    </div>
    <div class="py-4 award_logos">
        <Image src={LogoPanel} alt="Saint Jude Logos" />
    </div>
</div>

<section class="container-fluid lightgray-bg py-4">
    <div class="d-flex justify-content-center gap-2 footer_links">
        <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2FSaintJudeMinistries&sa=D&sntz=1&usg=AOvVaw1z5hE2l1ghxuQcwU71eOiW" target="_blank">
            <Image src={facebook} alt="Facebook" />
        </a>
        <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.weddingwire.com%2Fbiz%2Fsaint-jude-ministries-inc-hollywood%2Ffcd22256d1cc74af.html&sa=D&sntz=1&usg=AOvVaw3Vjh1ATX8cnpMNZk08moer" target="_blank">
            <Image src={weddingwire} alt="Wedding Wire" />
        </a>
        <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.theknot.com%2Fmarketplace%2Fsaint-jude-ministriesrev-michael-calderin-pembroke-pines-fl-487460&sa=D&sntz=1&usg=AOvVaw2D9vOA_LKMblxsVnvNWca3" target="_blank">
            <Image src={theknot} alt="The Knot" />
        </a>
        <a href="https://www.google.com/url?q=https%3A%2F%2Fopen.spotify.com%2Fshow%2F3zHpvNXsptXfmAkKBd8zqm%3Fsi%3DuLnDQ0PYQy6WsKOPilz2MA%26nd%3D1%26dlsi%3D180283e90cff44f0&sa=D&sntz=1&usg=AOvVaw0gyF3b3V8XLppm7rrxqhfp" target="_blank">
            <Image src={spotify} alt="Spotify" />
        </a>
    </div>
</section>

<section class="container-fluid blue-bg py-4">

</section>
